@import "@clipcap/ui/styles/breakpoints";
@import "@clipcap/ui/styles/tools/toRem.scss";

.container {
  .section {
    &.section-title {
      padding: 0 0 toRem(15px) 0;
    }
    &.section-button {
      padding: toRem(15px) 0 0 0;
    }
    &.section-empty {
      padding: 0;
    }
    &.section-summary {
      padding: 0 0 toRem(10px) 0;

      max-height: toRem(522px);

      overflow-y: scroll;
    }
    &.section-setting {
      padding: 0 0 toRem(20px) 0;
    }
  }
}

.summary {
  .summary__section {
    &:not(:last-child){
      padding: 0;
    }
  }
}