@import "@clipcap/ui/styles/tools/toRem.scss";
@import "@clipcap/ui/styles/breakpoints.scss";

.container {
  display: flex;
  flex-direction: column;
}

.section {  
  padding: 0 0 toRem(120px) 0;

  @media screen and (max-width: $_bp-mobile) {
    padding: 0 0 toRem(60px) 0;
  }
}