@import "@blueprintjs/core/lib/scss/variables";
@import "@clipcap/ui/styles/breakpoints";
@import "@clipcap/ui/styles/tools/toRem.scss";

.container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  &.container-moment {
    align-items: center;
  }

  transition: background-color .5s;
  cursor: pointer;

  &:hover {
    background-color: $light-gray3;
  }

  padding: toRem(10px);
  border-radius: toRem(5px);
}

.section {
  &.section-graphic {
    width: toRem(50px);
  }
  &.section-content {
    width: calc(100% - toRem(50px));
  }
}

.emoji {
  font-size: toRem(30px);
}

.content {
  .content__section {
    padding-bottom: 0;
  }
}
.graphic {
  .graphic__section {
    padding-bottom: toRem(5px);
  }
}

.highlight {
  color: $forest3;

  font-weight: 400;

  padding: 0 toRem(5px) 0 0;
}