/* 
  Color Scheme.
*/
$_color-grayscale-gray-dark: #252422;
$_color-grayscale-gray-medium: #404E5C;
$_color-grayscale-gray-light: #848A92;
$_color-grayscale-dark-16: rgba(37, 36, 34, 0.16);
$_color-grayscale-gray-clear: #E1E3E6;
$_color-grayscale-gray-bg: #F6F8FA;
$_color-grayscale-gray-white: #FFFFFF;
$_color-grayscale-gray-white-17: rgba(255, 255, 255, 0.16);

$_color-primary-violet-gradient: linear-gradient(180deg, #7B6CE9 0%, #E0C3FC 100%, #E2C6FF 100%);
$_color-primary-violet-dark: #5A50CC;
$_color-primary-violet-medium: #786FE0;
$_color-primary-violet-light: #CAC5F4;

$_color-primary-green-dark: #8CBF6D;
$_color-primary-green-medium: #CEDFC0;
$_color-primary-green-light: #EAF9DF;

$_color-primary-yellow-dark: #F5DA83;
$_color-primary-yellow-medium: #FBF0A1;
$_color-primary-yellow-light: #FDF7CD;

$_color-primary-red-dark: #F2545B;
$_color-primary-red-medium: #ED6F78;
$_color-primary-red-light: #F7CFDD;

$_color-primary-blue: #4281F7;
$_color-primary-purple: #CF93F8;
$_color-primary-salad: #CEF087;

$_color-pastel-red: #FCECF3;
$_color-pastel-blue: #EAF8FE;
$_color-pastel-yellow: #FCF9DA;
$_color-pastel-green: #EDF8E1;
$_color-pastel-violet: #F4EFFE;

