@import "@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/core/lib/scss/variables";

* {
  border:0;
  outline:0;

  margin:0;
  padding:0;

  font-size: 14.4px;
  font-weight: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;

  line-height: 0;
}

/* You can add global styles to this file, and also import other style files */
.extension-container {
  width: 402px;
  max-height: 250px;

  position: relative;
}