@import "@clipcap/web-frontend/styles/mixins/container.scss";
@import "@clipcap/ui/styles/tools/toRem.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include container();
}

.section {
  &.section-logo {
    width: toRem(235px);
  }

  &.section-actions {
    
  }
}