@import "@clipcap/ui/styles/tools/toRem";
@import "@clipcap/ui/styles/breakpoints";

@mixin container() {
  position: relative;

  padding: 0 toRem(165px);
  margin: 0 auto;
  max-width: 1440px;

  @media screen and (max-width: $_bp-mobile) {
    width: 100%;

    padding: 0 toRem(20px);
    margin: 0 auto;
  }
}